.center-button-container {
  text-align: center;
}

/* https://brand.berkeley.edu/visual-identity/colors/ */

/* Light mode links outside of nav */
html:not(.dark) body a {
  color: #004AAE; /* Blue Medium */
  text-decoration: underline;
}
html:not(.dark) body a:visited {
  color: #431170; /* Purple Dark — distinct but accessible */
}

/* Exclude nav links (visited and unvisited) */
html:not(.dark) nav a,
html:not(.dark) nav a:visited {
  color: inherit;       /* keep nav text color (usually black) */
  text-decoration: none; /* optional */
}

/* Dark mode links outside of nav */
html.dark body a {
  color: #FC9313; /* Gold Dark */
  text-decoration: underline;
}
html.dark body a:visited {
  color: #FFC31B; /* Gold Medium */
}

/* Exclude nav links (visited and unvisited) */
html.dark nav a,
html.dark nav a:visited {
  color: inherit;       /* keep nav text color (usually white) */
  text-decoration: none;
}

.footer {
  flex-shrink: 0;
  padding-top: 0.1em;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 1em;
  }

  .logo {
    padding-top: 0;
  }
}


html:not(.dark) .footer a,
html:not(.dark) .footer h1,
html:not(.dark) .footer h2 {
  color: white;
}

/* Dark mode */
html.dark .footer {
  background: #004AAE; /* Blue Medium - contrats with black content */
  color: #f2f2f2;      /* Light grey for readability */
}

html.dark .footer a,
html.dark .footer h1,
html.dark .footer h2 {
  color: #fc9313;
}

.small {
  font-size: 0.85em;
}

/* Change the background of the top region. */

/*
body > div:nth-child(2) {
  background-color: #9FD1FF !important;

  box-shadow: 0 6px 9px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;

  padding: 1em 1em 3.5em 1em;
}
*/

/* Target the main header/navbar */

/*
header, .header, nav {
  background-color: #00FF00 !important;
}
*/
