.center-button-container {
  text-align: center;
}

/* https://brand.berkeley.edu/visual-identity/colors/ */

/* ================================
   LINK COLORS
   ================================ */

/* ---------- LIGHT MODE ---------- */

/* Links outside nav and not buttons */
html:not(.dark) body a:not(.button) {
  color: #004AAE; /* Blue Medium */
  text-decoration: underline;
}
html:not(.dark) body a:not(.button):visited {
  color: #431170; /* Purple Dark */
}

/* Explicitly override nav links */
html:not(.dark) body nav a,
html:not(.dark) body nav a:visited {
  color: inherit !important;
  text-decoration: none !important;
}


/* ---------- DARK MODE ---------- */

/* Links outside nav and not buttons */
html.dark body a:not(.button) {
  color: #FC9313; /* Gold Dark */
  text-decoration: underline;
}
html.dark body a:not(.button):visited {
  color: #FFC31B; /* Gold Medium */
}

/* Explicitly override nav links */
html.dark body nav a,
html.dark body nav a:visited {
  color: inherit !important;
  text-decoration: none !important;
}

/* ================================
   FOOTER STYLES
   ================================ */

.footer {
  flex-shrink: 0;
  padding-top: 0.1em;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 1em;
  }

  .logo {
    padding-top: 0;
  }
}


html:not(.dark) .footer a,
html:not(.dark) .footer h1,
html:not(.dark) .footer h2 {
  color: white;
}

/* Dark mode */
html.dark .footer {
  background: #004AAE; /* Blue Medium - contrats with black content */
  color: #f2f2f2;      /* Light grey for readability */
}

html.dark .footer a,
html.dark .footer h1,
html.dark .footer h2 {
  color: #fc9313;
}

.small {
  font-size: 0.85em;
}

/* Change the background of the top region. */

/*
body > div:nth-child(2) {
  background-color: #9FD1FF !important;

  box-shadow: 0 6px 9px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;

  padding: 1em 1em 3.5em 1em;
}
*/

/* Target the main header/navbar */

/*
header, .header, nav {
  background-color: #00FF00 !important;
}
*/
