.center-button-container {
  text-align: center;
}

.footer {
  flex-shrink: 0;

  /* https://brand.berkeley.edu/visual-identity/colors/ */
  background: #010133;
  color: white;

  padding-top: 0.1em;

  list-style: none;

  /* Heading colours */
  a, h1, h2 {
    color: white;
  }

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 1em;
  }

  .logo {
    padding-top: 0;
  }
}

.small {
  font-size: 0.85em;
}

/* Change the background of the top region. */

body > div:nth-child(2) {
  /* background color */
  background-color: #9FD1FF !important;

  /* drop shadow */
  box-shadow: 0 6px 9px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;

  padding: 1em 1em 3.5em 1em;
}

/* Target the main header/navbar */
/*
header, .header, nav {
  background-color: #00FF00 !important;
}
*/
